footer{
    background-color: #393f46;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left{
    width: 70%;
}

footer .left p{
    color: #bcbcbc;
    font-size: 1.2rem;
}

footer .right{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .right a, p{
    color: #bcbcbc;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

footer .right p:hover{
    color: rgb(237, 237, 237);
    text-decoration: underline;
    cursor: pointer;
}

footer .right p.logout:hover{
    color: rgb(231, 105, 105);
}

@media (max-width: 600px){
    footer{
        padding: 30px 20px;
    }

    footer .left{
        width: 70%;
        display: flex;
        justify-content: left;
    }
}