#login{
  width: 100%;
  min-height: 100%;
}

#login .login-form{
  background-color: #393E46;
  width: 800px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.5);
}

#login .login-form h1{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}

#login .login-form form{
    padding: 0 30px;
}

#login .login-form form label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#login .login-form form input{
    background-color: #393E46;
    border: 3px solid rgb(212, 212, 212);
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 10px;
}

#login .login-form form button{
    width: 100%;
    background-color: white;
    border: 0px solid white;
    padding: 8px 0;
    border-radius: 4px;
    color: rgb(34, 34, 34);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0px;
    transition: 0.4s;
}

#login .login-form form button:hover{
    transform: translateY(-2px);
    cursor: pointer;
}


#login .login-form form button:disabled{
    opacity: 0.8;
    cursor: not-allowed;
}

#login .login-form a{
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

#login .login-form a:hover{
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 600px){
    #login .login-form{
        width: 90vw;
        padding: 10px;
    }

    #login .login-form h1{
        font-size: 2rem;
    }

    #login .login-form form{
        padding: 10px;
    }

    #login .login-form form label{
        display: block;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    #login .login-form form input{
        padding: 8px;
        font-size: 1rem;
        border: 2px solid rgb(176, 176, 176);
    }

    #login .login-form a p{
        font-size: .9rem;
    }

    #login .login-form form button{
        font-size: 1.2rem;
        padding: 6px;
    }
}
