section{
    margin: 20px;
    padding: 20px;
    background-color: #393f46;
}

section .heading{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

section .notes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

section .note{
    min-height: 150px;
    max-width: 300px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: .4s;
}

section .note.approved{
    background-color: #c1c781;
}

section .note.pending{
    background-color: #9dc781;
}

section .note.archived{
    background-color: #ef9696;
}

section .note.pending-notes{
    background-color: #9dc781;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .note:hover{
    cursor: pointer;
    transform: translateY(-4px);
    opacity: 0.8;
}

section .note:active{
    transform: scale(95%);
    opacity: 0.5;
}

section .note .note-title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: black;
}

section .note .note-date{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    color: rgb(77, 77, 77);
}

section .pagination-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

section .pagination-container .pagination{
    border: 2px solid rgb(238, 238, 238);
    width: 30%;
    max-width: 250px;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

section .pagination-container .pagination p{
    width: 32%;
    text-align: center;
    font-weight: 600;
    transition: .2s;
}

section .pagination-container .pagination p:hover{
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

section .pagination-container .pagination .disabled:hover{
    cursor: not-allowed;
    color: rgb(212, 129, 129);
}

.loading{
    text-align: center;
    font-size: 1.2rem;
}

.sudogetall{
    color: #b9dfee;
    text-align: center;
    margin-top: 30px;
    transition: .4s;
}

.sudogetall:hover{
    text-decoration: underline;
    font-weight: 600;
    transform: translateY(-4px);
    cursor: pointer;
}

.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-container p{
    font-size: 1.7rem;
    transition: .4s;
    color: #dfdfdf;
}

.btn-container span.full{
    color: rgb(255, 70, 70);
    font-size: 1.2rem;
}

.btn-container p:hover{
    transform: translateY(-4px);
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;

}


