#profile-info{
    position: relative;
}

#profile-info .note:hover{
    opacity: 1;
}

#profile-info .note:active{
    transform: scale(100%);
}

#profile-info .username{
    font-size: 2rem;
}

#profile-info .back{
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    font-size: 1.4rem;
    transition: .4s;
}

#profile-info .back:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-5px);
}

#profile-info .note-body{
    color: black;
    margin: 10px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
}

#profile-info .note-status.approved{
    color: rgb(44, 141, 30);
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

#profile-info .note-status.pending{
    color: #3481b0;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

#profile-info .note-status.archived{
    color: #d02626;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    font-weight: 600;
}

#profile-info .note-delete{
    text-align: center; 
    padding: 5px;
    border: 2px rgb(194, 63, 63) solid;
    transition: .4s;
    color: rgb(194, 63, 63);
}

#profile-info .note-delete:hover{
    background-color: rgb(236, 87, 87);
    color: white;
    border-color: rgb(255, 87, 87);
}

#profile-info .note-anon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile-info .note-anon-wrapper img{
    width: 2rem;
}

#profile-info .note-anon{
    color: black;
}

#profile-info .find-on-board{
    color: black;
    text-align: center;
    margin: 5px 0;
}

#profile-info .status-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile-info .status-svg{
    width: 2rem;
}

#profile-info .find-on-board-wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .4s;
}

#profile-info .find-on-board-wrapper a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    transform: scale(105%);
}


#profile-info .find-on-board-wrapper img{
    width: 2rem;
}

