.black-bg{
    width: 120vw;
    height: 120vh;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, .3);
    z-index: 2;
}

#view-note-modal{
    max-width: 380px;
    min-width: 400px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#view-note-modal .view-note{
    background-color: #d3db85;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 15px;
    position: relative;
}

#view-note-modal .view-note .title{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 1.75rem;

}

#view-note-modal .view-note .content{
    color: rgb(36, 36, 36);
    margin-bottom: 40px;
    overflow-x: hidden;
}

#view-note-modal .view-note .date{
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid rgb(81, 81, 81);
    padding-bottom: 2px;
}


#view-note-modal .view-note .username-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#view-note-modal .view-note .username-wrapper img{
    width: 1.4rem;
}

#view-note-modal .view-note .username-wrapper .username{
    color: black;
}


#view-note-modal .close{
    color: rgb(225, 17, 17);
    transition: .2s;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#view-note-modal .close:hover{
    transform: translateY(-4px);
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#view-note-modal .delete{
    color: rgb(225, 17, 17);
    transition: .2s;
    position: absolute;
    bottom: 15px;
    right: 120px;
}

#view-note-modal .delete:hover{
    transform: translateY(-4px);
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#view-note-modal .approve{
    color: rgb(15, 183, 35);
    transition: .2s;
    position: absolute;
    bottom: 15px;
    right: 230px;
}

#view-note-modal .approve:hover{
    transform: translateY(-4px);
    color: rgb(12, 196, 24);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px){
    #view-note-modal{
        max-width: 90vw;
        min-width: 90vw;
        min-height: 40vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
}
    
    #view-note-modal .view-note{
        background-color: #d3db85;
        border: 2px solid black;
        width: 90vw;
        height: 100%;
        min-height: 300px;
        padding: 15px;
        position: relative;
    }
}
